<hr>

<p><strong>Share this post:</strong></p>

<div style="margin-top:20px;">
  <a href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}&text={{ page.title }}" target="_blank" style="margin-right:10px;">🐦 Twitter</a>
  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | absolute_url }}" target="_blank" style="margin-right:10px;">💼 LinkedIn</a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank">📘 Facebook</a>
</div>
